<footer class="footer">

    <!-- ////////////////////////////////// FIRST PART //////////////////////////////////// -->
    <div class="container border-top">
        <div class="row mt-3 text-center">
            <div class="col-4 col-md">
                <h5 class="text-secondary">Plan du site</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-muted">Home</a></li>
                    <li><a href="#" class="text-muted">Chambre</a></li>
                    <li><a href="#" class="text-muted">Restaurant</a></li>
                    <li><a href="#" class="text-muted">Spa</a></li>
                    <li><a href="#" class="text-muted">Actualités</a></li>
                    <li><a href="#" class="text-muted">L'hôtel</a></li>
                </ul>
            </div>
            <div class="col-4 col-md">
                <h5 class="text-secondary">Information</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-muted">Avis</a></li>
                    <li><a href="#" class="text-muted">Accès</a></li>
                    <li><a href="#" class="text-muted">Contact</a></li>
                    <li><a href="#" class="text-muted">S'inscrire à la newsletter</a></li>
                </ul>
            </div>
            <div class="col-4 col-md">
                <h5 class="text-secondary">Pratique</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-muted">Partage</a></li>
                    <li><a href="#" class="text-muted">Imprimer la page</a></li>
                    <li><a href="#" class="text-muted">Êtes-vous ADMIN ?</a></li>
                </ul>
            </div>
            <div class="col-12 col-md">
                <h5 class="text-secondary">Protel</h5>
            </div>
        </div>
    </div>

    <!-- ////////////////////////////////// SECOND PART //////////////////////////////////// -->
    <div class="container-fluid bg-dark mt-5">
        <p class="text-center text-muted p-2 m-0">
            &copy; Protel {{ "now"|date('Y') }} - Made with ❤️ by
            <a href="https://github.com/BesokDev"
                class="text-reset"
                >Protel</a>
        </p>
    </div>
</footer>
