{% extends 'base.html.twig' %}

{% block title %}Resto | Protel{% endblock %}

{% block body %}

<div class=" d-flex align-items-center justify-content-center " style="height: 200h;">
  <img src="https://cdn.pixabay.com/photo/2020/07/03/05/02/tomatoes-5365186_1280.jpg" alt="Ma superbe image" class="mx-auto img-fluid w-50">
</div>



    <h1 class="text-center my-4">Resto</h1>

  <figure class="text-center">

      <h2>Bistrot chic et contemporain du Chef Gautier, “Maître Restaurateur”</h2>

      <blockquote class="blockquote">
        <p>RESTAURANT BISTRO CHIC POUR DÉGUSTER UNE CUISINE CRÉATIVE HAUT DE GAMME</p>
      </blockquote>

      
  </figure>

<div class="text-center m-5">

        <p class="fs-5">Le M Restaurant, situé en plein coeur du prestigieux 6eme arrondissement de Lyon, est l'établissement où le Chef Mathieu Viannay a obtenu sa première étoile au Guide Michelin en 2005. En 2008, il choisi de reprendre le restaurant La Mère Brazier situé rue Royale à Lyon 1. En décidant de transformer son restaurant situé avenue Foch en bistrot chic, il donne naissance au M Restaurant.</p>
        <p class="fs-5">Dès son ouverture, Julien Gautier, ancien Chef du Léon de Lyon (2 étoiles au Guide Michelin), prend les commandes de la cuisine du M Restaurant et y ajoute sa propre identité, puis rachète l’établissement en juillet 2010. Il propose une carte inventive qui change tous les 2 mois et élabore avec technique, rigueur et créativité, des mets qui subliment les saveurs et les produits de saison</p>
        <p class="fs-5">Rapidement, la cuisine du Chef Julien Gautier qui mêle innovation et inspiration séduit les gourmets les plus exigeants. En effet, depuis 2009, la table fait partie de la sélection du Bib Gourmand du Guide Michelin. Et depuis 2012, le Chef s’est vu distingué du titre “Maître Restaurateur”, pour récompenser la fraîcheur et la qualité des produits locaux et de saison utilisés dans sa cuisine. Passionné et membre des Toques Blanches, le Chef Julien Gautier, veille à transmettre les valeurs du partage et de la convivialité, tout en s'engageant à surprendre ses hôtes avec une cuisine à la fois précise, gourmande, créative et généreuse.</p>

</div>

{% endblock %}
