{% extends 'base.html.twig' %}

{% block title %}Spa | Protel{% endblock %}

{% block body %}

    <section class="hero-section d-flex flex-column justify-content-center align-items-center text-center mb-5">
        <img src="https://unsplash.it/1900/500" alt="Spa avec soin Détente" class="card-img-top">
    </section> 

    <section class="hero-section d-flex flex-column justify-content-center align-items-center text-center">
        <h1 class="display-2">Le Spa</h1>
        <p class="lead">Bienvenue dans notre spa luxueux et relaxant</p>
    </section>

    <section class="service-section">
        <hr class="my-4 text-light">
        
        <div class="accordion accordion-flush mb-3" id="accordionFlushExample">

            <div class="accordion-item col-10 mx-auto">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <h3 class="display-5 col-12 text-center text-decoration-none mt-2">Soin Détente</h3>
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="card mb-3" style="max-width: 1500px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="https://unsplash.it/500/350" class="img-fluid rounded-start" alt="Spa avec soin Plaisir">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Spa avec soin Détente</h5>
                                        <hr>
                                        <p class="card-text lead">
                                        Les soins Détentes permettent de lâcher prise face à un quotidien souvent rythmé, puisant dans vos réserves énergétiques, entraînant fatigue et déséquilibre.<br>
                                        Les soins anti-stress se concentrent sur des activités individuelles ou de groupe qui apporteront détente, relaxation et canalisation de l’énergie. Ainsi, vous aurez droit à des séances de bains bouillonnants ou encore de réflexologie plantaire mais aussi des soins collectifs de gymnastique ou d'oxygénation selon le programme proposé par l’établissement.<br><br>
                                        Ce type de cure est proposé pour des durées de séjour de 6 nuits, composé de 15 soins.<br>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item col-10 mx-auto">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        <h3 class="display-5 col-12 text-center text-decoration-none mt-2">Soin Relaxant</h3>
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="card mb-3" style="max-width: 1500px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="https://unsplash.it/500/350" class="img-fluid rounded-start" alt="Spa avec soin Plaisir">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Spa avec soin Relaxant</h5>
                                        <hr>
                                        <p class="card-text lead">
                                        Le soin Relaxant permet de s’offrir un moment rien que pour soi, mêlant soins secs (massages, rituel du Monde, …) et des soins humides (massages sous affusion, bains bouillonnants, …).<br>
                                        Une première approche parfaite pour découvrir les bienfaits d’un centre thermal.<br><br>
                                        Ce type de cure est proposé pour des durées de séjour de 1 à 5 nuits, composé de 3 à 15 soins en fonction de la durée sélectionnée.<br>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item col-10 mx-auto mb-5">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        <h3 class="display-5 col-12 text-center text-decoration-none mt-2">Soin Plaisir</h3>
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="card mb-3" style="max-width: 1500px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="https://unsplash.it/500/350" class="img-fluid rounded-start" alt="Spa avec soin Plaisir">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Spa avec soin Plaisir</h5>
                                        <hr>
                                        <p class="card-text lead">
                                        Le soin Plaisir est une parenthèse pour soi permettant de retrouver équilibre et bien-être. Tout ce qu’il vous reste à faire est de vous détendre et vous laisser aller entre les mains de professionnels vous délivrant des soins alliant modelages, douches à jets tonifiants, aquagym, massages drainants, hydrothérapies, conseils santé et diététiques. Des programmes élaborés spécialement conçus pour ralentir les effets du temps (douleurs articulaires, rhumatismes, arthrose). Objectif détox du corps et de l’esprit pour une santé et une plaisir de vivre retrouvée.<br><br>
                                        Ce type de soin est proposé pour des durées de séjour de 6 nuits, composé de 16 soins.<br>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="hero-section d-flex flex-column justify-content-center align-items-center text-center mb-5">
        <img src="https://unsplash.it/1900/700" alt="Spa avec soin Détente" class="card-img-top">
    </section>    

{% endblock %}
