{% extends 'base.html.twig' %}

{% block title %}Nos Chambres{% endblock %}

{% block body %}

<h1 class="text-center my-4">Chambre</h1>

<div class="row">
    <div class="col-8 mx-auto">

       {% include "include/_flashes.html.twig" %}

        <div class="card mb-3 text-center" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://unsplash.it/600/400" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Chambre classique</h5>
                        <p class="card-text">Profitez de nos chambre classique le temps d'une nuit pour faire une pause.</p>
                        <p class="card-text">
                        <button type="button" class="btn btn-primary btn-sm">Large button</button></p>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">

                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Chambre Confort</h5>
                        <p class="card-text">Nos chambre sont spécialement conçues pour donner pleinement satification.</p>
                        <p class="card-text">
                        <button type="button" class="btn btn-primary btn-sm">Large button</button>
                        </p>
                    </div>
                </div>

                <div class="col-md-4">
                    <img src="https://unsplash.it/600/400" class="img-fluid rounded-start" alt="...">
                </div>
            </div>
        </div>

        <hr>

        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://unsplash.it/600/400" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Chambre Suite</h5>
                        <p class="card-text">Nos suites sont à la fois spacieuse et lumineus, n'hésite.</p>
                        <p class="card-text">
                        <button type="button" class="btn btn-primary btn-sm">Large button</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
