{% extends 'base.html.twig' %}

{% block title %}Nos Contacter{% endblock %}

{% block body %}

   <h1 class="text-center my-4">Contact</h1>

   <div class="row">
       <div class="col-6 mx-auto">
           {{ form(form) }}
         
      </div>
   </div>

 

{% endblock %}
