{% extends 'base.html.twig' %}

{% block title %}Accès{% endblock %}

{% block body %}

   <h1 class="text-center my-4">Accès</h1>

   <div class="row">
       <div class="col-8 mx-auto">
            <h4 class="my-4">Accès en voiture</h4>
            <p>Depuis l´autoroute A4 sens Paris/Metz-Nancy prenez la sortie 14 et suivez pendant 2 kms Hötels du Val de France / Magny le Hongre. Au rond-point prenez à droite jusqu´à l´hôtel. Sur place parking 300 places gratuit.</p>

            <hr>
            <h4 class="my-4">Accès en transports publics</h4>
            <p>La gare de Chessy/Marne la Vallée à l´entrée des parcs est desservie par le RER A, l´Eurostar et les TGV.* La navette dessert l´hôtel depuis la gare et fonctionne de 8h10 à 00h20 et se trouve au Quai Q. La ligne de RER A permet de rejoindre Paris en 35 minutes.</p>

            <h4 class="my-4">Distances / Correspondances :</h4>
            <p>Marne la Vallée / Chessy (TGV, RER) (Gare (IC/TGV)): 5 km A4 (Autoroute): 6 km
            Charles de Gaulle (Aéroport): 40 km
            Orly (Aéroport): 40 km
            Disneyland Paris (Centre de congrès): 5 km</p>

            <h4 class="my-4">Accès voiture</h4>
            <p>Dans une démarche écologique, nous vous recommandons de laisser votre voiture dans le parking de l’hôtel et de favoriser la navette gratuite pour vous rendre aux parcs ou de prendre les transports en commun pour explorer les alentours.</p>

            <h3 class="my-4">Accès Map</h3>
            <div class="mb-4" id="carte"></div>

         
      </div>
   </div>

 

{% endblock %}