{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

   <h1 class="text-center my-4">Qui sommes nous?</h1>

   <div class="row">
       <div class="col-8 mx-auto">
       <h4 class="text-center my-4">En tant que leader mondial des moteurs de recherche de voyage, nous mettons tous nos efforts au service de nos utilisateur·ices. Nous souhaitons leur fournir les informations qu’il leur faut pour planifier leurs voyages à leur manière, en toute confiance.</h4> 
       <p>Pour chaque recherche sur KAYAK, nous parcourons des centaines de sites en quelques secondes. Que vous soyez à la recherche d’un vol, d’un hôtel, d’une voiture de location ou d’autres services, nous récoltons des offres disponibles à travers le Web et les rassemblons en un seul et même endroit. Comparez diverses options pour un même billet d’avion, hébergement ou véhicule et choisissez où réserver. Cela pourra être directement auprès de la compagnie aérienne, de l’hôtel, de l’agence de location… ou même auprès d’un autre site de voyage.
       Les prix affichés sur votre écran proviennent directement des sites fournisseurs, sans aucuns frais supplémentaires de la part de KAYAK. Une fois l’offre qui vous convient sélectionnée, son fournisseur nous verse un montant soit pour vous avoir redirigé·e vers son site, soit pour vous avoir aidé·e à réserver sur son site. Notre service est donc totalement gratuit pour les utilisateur·ices.
       Nous nous rémunérons également en affichant des publicités de voyage sur notre site. Si l’une de ces annonces vous intéresse et que vous cliquez dessus, certaines entreprises nous payent également pour ce clic</p>

       <h4 class="text-center my-4">Comment classons-nous les résultats ?</h4>
       <p>Plusieurs facteurs déterminent l’ordre dans lequel nous classons les résultats une fois votre recherche lancée. Il peut s’agir par exemple d’une combinaison du prix et des notes laissées par les utilisateur·ices. Pour les vols, nous prenons également en compte des éléments qui peuvent influencer votre confort, comme la durée du vol et le nombre d’escales. Mais pour vous assurer de trouver toujours le résultat adapté, nous vous proposons une large gamme de filtres, ainsi que des options de tri comme le bon vieux critère du prix.
       </p>

       <h4 class="text-center my-4">Le meilleur choix</h4>
       <p>L’offre la moins chère n’est pas forcément la meilleure. Par défaut, les vols sont donc classés pour vous permettre de voir les meilleurs compromis entre prix et praticité, d’après des critères comme la durée, le prix, la distance entre le lieu de départ et celui d’arrivée, le nombre de voyageur·euses et ce que vous avez indiqué en premier dans votre recherche. L’importance relative des facteurs est spécifique à chaque ensemble de résultats : par exemple, le prix aura moins de poids si le vol le moins cher n’est qu’à quelques euros de moins que le vol le plus rapide, mais dure beaucoup plus longtemps. Bien sûr, au final c’est à vous de voir, mais économiser 50 euros sur un vol vers New York ne vaut peut-être pas le coup si vous devez passer 10 heures en escale.
       En cas de prix équivalents entre plusieurs résultats pour les mêmes vols, le classement desdits résultats se basera principalement sur le taux de clics et le coût par clic. Il nous arrive aussi d’évaluer la qualité du service proposé par les sites fournisseurs. Nous mettons par exemple en avant le coût supplémentaire facturé par chaque site pour la réservation ou les bagages, afin que vous puissiez comparer le prix total proposé par chaque fournisseur. Si un site ne communique pas ces coûts additionnels assez clairement, nous aurons tendance à moins le recommander.
       Nous affichons des offres en provenance de sources diverses, dont des compagnies aériennes, des agrégateurs, des systèmes de distribution mondiaux, des entreprises de gestion des voyages et des agences de voyages en ligne. Nos résultats peuvent ne pas toujours refléter toutes les offres disponibles.</p>


       <h4 class="text-center my-4">Le moins cher</h4>
       <p>Vous cherchez le tarif le plus bas ? Notre option de tri par prix croissant ou décroissant vous permet d’accéder rapidement à l’offre la moins chère, ou la plus coûteuse. Après tout, c’est votre voyage, donc à vous de choisir !
       Il se peut que certaines offres soient disponibles sur plusieurs sites fournisseurs. Nous affichons toutes ces options, mais mettons en avant un site en particulier selon des critères comme sa popularité auprès des client·es ou les notes laissées par les utilisateur·ices. Les fournisseurs peuvent également être mis en avant s’ils payent plus pour les clics qu’ils obtiennent.</p>

       <h4 class="text-center my-4">Hébergements (hôtels et autres établissements)</h4>
       <p>Nous utilisons des algorithmes internes pour classer les résultats d’hébergements ainsi que les sites de réservation au sein d’un même résultat. Pour plus de lisibilité, nous arrondissons toujours le prix au nombre entier supérieur.
       Pour classer les résultats d’hébergements, par défaut, nous utilisons notre algorithme « Le meilleur choix », qui se base sur un certain nombre de paramètres clés : le prix, la note des client·es et la popularité (en termes de clics). L’importance relative des paramètres est spécifique à chaque ensemble de résultats : par exemple, le prix aura moins de poids si la différence de tarif est minime. Nous tenons également compte de la rémunération potentielle moyenne pour KAYAK pour chaque résultat d’hébergement. En plus du classement par défaut, vous pouvez également classer les résultats par prix, catégorie d’hôtel, meilleure note et proximité par rapport à votre destination.
       Il se peut que certaines offres soient disponibles sur plusieurs sites fournisseurs. Nous affichons toutes ces options, mais mettons en avant un site en particulier selon des critères comme son prix par rapport au prix le plus bas et la rémunération potentielle moyenne pour KAYAK pour chaque résultat d’hébergement. Au sein de chaque résultat, si ce n’est pas l’option la moins chère qui est affichée au dessus du bouton « Voir l’offre », vous la verrez tout de même en vert.</p>
          
       <h4 class="text-center my-4">Prix</h4>
       <p>Vous cherchez le tarif le plus bas ? Notre option de tri par prix croissant ou décroissant vous permet d’accéder rapidement à l’offre la moins chère, ou la plus coûteuse. Après tout, c’est votre voyage, donc à vous de choisir !</p>
          
       <h4 class="text-center my-4">Le meilleur choix</h4>
       <p>L’option de tri « Le meilleur choix » pour les voitures de location se base principalement sur le prix, la rémunération potentielle pour KAYAK, la popularité en termes de clics et la popularité des différentes catégories de voitures selon la destination (par ex. les SUV peuvent être plus populaires que d’autres types de véhicules dans certains lieux de prise en charge). Dans certaines régions (États-Unis uniquement pour l’instant), nous prenons également en compte la note des client·es pour chacune des agences de location. L’importance relative du facteur est spécifique à chaque ensemble de résultats de recherche.
       </p>
          
       <h1 class="text-center my-4">Comment obtenons-nous les prix ?</h1>
       <p>Nous parcourons des centaines de sites de voyage (compagnies aériennes, hôtels, agences de location ou sites de réservation) pour vous proposer une multitude d’options disponibles en ligne. Nous nous efforçons d’obtenir des informations à jour, mais il se peut que des inexactitudes subsistent. Cela peut se produire si le site fournisseur n’a pas mis à jour son inventaire, s’il ne s’est pas connecté correctement à notre site, ou tout simplement si une autre personne a déjà réservé l’offre qui vous intéressait. Dans ce cas, l’inexactitude se produit car nous avons stocké les résultats dans notre cache pour vous assurer une navigation plus rapide. Par exemple, si vous et une autre personne lancez la même recherche en l’espace d’une minute, nous vous montrerons probablement les mêmes résultats. Les sites fournisseurs sont invités à nous fournir un inventaire des prix mis à jour au moins toutes les 24 heures. Nous essayons de parcourir le plus de sites que possible, mais il nous est impossible de tous les parcourir. Dans certains cas, nous n’affichons pas les résultats de certains fournisseurs, pour des raisons techniques, commerciales ou lorsque nous pensons qu’ils pourraient avoir un effet négatif sur la satisfaction des utilisateur·ices.</p>
          
       <h1 class="text-center my-4">Comment obtenons-nous des avis ?</h1>
       <p>Les avis apparaissent sur notre site de plusieurs façons. Nous affichons des notes et avis en provenance d’autres sites de voyage réputés. Nous affichons également des avis d’utilisateur·ices qui ont réservé via notre plateforme en se connectant ou nous ont envoyé leurs reçus de réservation. 
       Même si nous aimerions publier chaque avis reçu, qu’il soit positif ou négatif, nous n’afficherons pas les avis qui vont à l’encontre de nos directives ou de celles de nos fournisseurs d’avis, similaires à nos Conditions générales, y compris les avis qui comportent ou font référence à </p>
         
         
      </div>
   </div>

 

{% endblock %}